* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --white-color:#fff;
    --body-background:#262626;
    --boxbackground:#444;
    --gradient-color-blue:#2da2ff;
    --gradien-color-pink:#ff61ae;
    --gradiend-color-dark:#444;
}


body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--body-background);

}

.container {
    position:relative;
    display: flex;
    -webkit-box-reflect:below 1px linear-gradient(transparent, transparent, transparent, #0004 );
}

.container .box {
    position:relative;
    width: 320px;
    height: 400px;
    /* background: var(--boxbackground); */
    margin: 0 20px;
    border-radius: 20px;
    background: linear-gradient(45deg, var(--gradient-color-blue) 25%, var(--gradiend-color-dark) 25%, var(--gradiend-color-dark) 50%, var(--gradient-color-blue) 50%, var(--gradient-color-blue) 75%, var(--gradiend-color-dark) 75%, var(--gradiend-color-dark) 100% );
    background-size: 40px 40px;
    filter: grayscale(1);
    animation: animateBg 0.5s linear infinite;
    animation-play-state:paused;
}


.container .box:hover, .container .box:nth-child(2):hover  {
    animation-play-state:running;
    filter:grayscale(0); 
}

.container .box:nth-child(2) {
    position:relative;
    width: 320px;
    height: 400px;
    /* background: var(--boxbackground); */
    margin: 0 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, var(--gradien-color-pink) 25%, var(--gradiend-color-dark) 25%, var(--gradiend-color-dark) 50%, var(--gradien-color-pink) 50%, var(--gradien-color-pink) 75%, var(--gradiend-color-dark) 75%, var(--gradiend-color-dark) 100% );
    background-size: 40px 40px;
    filter: grayscale(1);
    animation: animateBg 0.5s linear infinite;
    animation-play-state:paused;
}


@keyframes animateBg {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 40px;
    }
}